<% flash.each do |name,message| 
    if name == "success"
        message_type = "positive "
    elsif name == "alert"
        message_type = "warning"
    else 
        message_type = "negative"
    end
    %>
    <div class="ui <%= message_type %> message">
        <i class="close icon"></i>
        <div class="header">
            <%= message %>
        </div>
    </div>
<% end %>

